<div id="form-wrap">
	<form name="ItemForm" ng-submit="addItem()">
		<div class="input-append">
			<input type="text" id="item-text" name="item-text" class="inline" placeholder="add item..." ng-model="itemLabel" required />
			<button type="submit" id="add-button" class="btn btn-primary inline" ng-disabled="ItemForm.$invalid"><i class="icon-plus icon-white"></i>Add</button>
		</div>

	</form>
</div>
<div id="list-wrap">
	<div class="list-info">
		<h4 class="remaining" ng-bind="">{{remaining()}} of {{items.length}} items</h4>
		<button class="btn btn-small" ng-click="cartItems()">Clear Carted</button>
	</div>
	<div class="" ng-show="status">
		<p>Error: {{status}}</p>
	</div>
	<ul id="list" class="unstyled">
		<li ng-repeat="item in items | orderBy:item.label" class="item">
			<input type="checkbox" id="item-box-{{$index + 1}}" name="item-box-{{$index + 1}}" ng-model="item.carted">
			<label for="item-box-{{$index + 1}}" class="done-{{item.carted}} checkbox" >{{item.label}}</span>
		</li>
	</ul>
</div>