
<div id="list-wrap">
	<div class="list-info">
		<p class="remaining">{{items.length}} items&nbsp;<button class="btn btn-small" ng-click="cartItems()" ng-hide="hasCarted">Clear Carted</button></p>
	</div>
	<div class="" ng-show="status">
		<p>Error: {{status}}</p>
	</div>
	<div class="alert alert-info" ng-show="items === undefined || items.length === 0">
			<p ng-if="items === undefined">Loading list items&hellip;</p>
			<p ng-if="items.length === 0">No Items in the list</p>
		</div>
	<ul id="list" class="list-unstyled">
		<li ng-repeat="item in items | orderBy:'label'" class="item">
			<input type="checkbox" id="item-box-{{$index + 1}}" name="item-box-{{$index + 1}}" ng-model="item.carted">
			<label for="item-box-{{$index + 1}}" class="done-{{item.carted}} checkbox" >{{item.label}}</span>
		</li>
	</ul>
</div>